:root {
  --color-verde: #39a52f;
  --color-blanco: #ffffff;
  --color-negro: #000000;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.contenido {
  padding: 20px;
}

.footer-superior {
  background-color: var(--color-verde);
  color: var(--color-blanco);
  width: 100%;
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
}

.footer-superior img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.footer-superior ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.footer-superior li {
  margin-right: 20px;
}

.footer-superior ul li {
  display: inline-block;
  margin-right: 40px;
}

.footer-superior a {
  text-decoration: none;
  color: #ffffff;
}

.contenido-texto {
  text-align: center;
  flex: 1;
  align-items: center;
}

/* Navegación */
nav {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  width: 100%;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
  margin-left: 5px;
  vertical-align: middle;
}

/* Estilos para los elementos de la lista del menú de navegación */
.navbar-nav a {
  font-size: 18px;
  color: var(--color-blanco);
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  justify-content: center;
}

/* Enlaces */
a {
  text-decoration: none;
}

.navbar-nav a:hover {
  background-color: var(--color-verde);
  color: var(--color-blanco);
}

/* Estilos para el contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilos para el botón del dropdown */
.dropdown-toggle {
  color: var(--colorblanco);
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

/* Estilos para el contenido del dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: var(--color-negro);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Estilos para los items del dropdown */
.dropdown-menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--color-blanco);
}

/* Cambia el color del item al pasar el mouse por encima */
.dropdown-menu a:hover {
  background-color: var(--color-verde);
  border-radius: 8px;
}

/* Mostrar el contenido del dropdown al pasar el mouse por encima del contenedor */
.dropdown:hover .dropdown-menu {
  display: block;
}

.custom-btn {
  background-color: #b3b3b3; /* Reemplaza con tu color personalizado */
}

/* Estilos generales para el footer */
.footer-inferior {
  background-color: var(--color-verde);
  color: var(--color-blanco);
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Estilos para el contenido dentro del footer */
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/* Estilos para el texto en el footer */
.footer-inferior p {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

#fechaTexto {
  font-size: 20px;
  color: var(--color-blanco);
  margin-right: 20px;
  text-align: center;
}

/* Estilos para listas desordenadas (ul) */
ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.columna1,
.columna2 {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@media (max-width: 1120px) {
  .columna1 {
    align-items: center;
    text-align: center;
  }

  .columna2 {
    text-align: center;
    align-items: center;
  }

  .columna3 {
    text-align: center;
    align-items: center;
  }

}

@media (max-width: 720px) {
  .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .columna1 {
    flex-basis: 100%;
    align-items: center;
    text-align: center;
    margin-left: 4vw;
  }

  .columna2 {
    text-align: center;
    margin-left: 4vw;
    align-items: center;
    margin-top: 20px;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-container {
    display: flex;
    gap: 20px;
  }

  .contenido-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-superior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* Agregué estilos para alinear el contenido de texto en pantallas más grandes */
@media (min-width: 768px) {
  .contenido-texto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

}