:root {
    --color-verde: #39a52f;
    --color-blanco: #ffffff;
    --color-negro: #000000;
    --color-gris-noticia: #b6b0b0;
}

.card-container,
.text-body-emphasis {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.row.border {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    flex-basis: calc(50% - 20px); /* Ancho máximo para mostrar dos tarjetas en una fila */
    margin-bottom: 20px;
    background-color: var(--color-blanco);
    box-sizing: border-box;
}

.col.p-4 {
    flex: 1;
}

h3 {
    color: var(--color-gris-noticia);
    font-size: 1.5rem;
}

.card-text {
    color: var(--color-negro);
}

.fecha {
    color: var(--color-negro);
}

.text-body-secondary {
    color: var(--color-gris-noticia);
}

.icon-link {
    color: #007bff;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.col-md-4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.col-md-4 {
    padding: 0;
}

.row {
    margin-bottom: 20px;
}

.col p {
    line-height: 1.5;
}