:root {
    --color-verde: #39a52f;
    --color-blanco: #ffffff;
    --color-negro: #000000;
  }

#body.torneos {
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0)), url('./imagenes/cesped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: var(--color-blanco);
    overflow: hidden;
}

#body {
    position: relative;
    padding: 20px;
    color: var(--color-blanco);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}

.card {
    background-color: #128f40;
    width: 18rem;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 8px 8px #949494;
}

.icono {
    font-size: 5em;
    width: 100%;
    height: auto;
    color: var(--color-negro);
    text-align: center;
    padding: 20px 0;
}

.card-body {
    flex-grow: 1;
    text-align: center;
}

.card-body h1 {
    margin-top: 0;
}

#logo_torneo {
    width: 20%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 0;
}

.title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
    cursor: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.p_title{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    text-transform: uppercase;
    color: #b5b1b1;
}

.title_card{
    font-size: 30px;
    color: var(--color-negro);
    text-decoration: none;
    display: block;
}