:root {
    --color-verde: #39a52f;
    --color-blanco: #ffffff;
    --color-negro: #000000;
  }

#body.torneos {
    z-index: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0,0,0,0)), url('../imagenes/cesped.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    color: var(--color-blanco);
    overflow: hidden;
}

#body {
    position: relative;
    padding: 20px;
    color: var(--color-blanco);
}

