/* Estilos generales */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container-fluid.body {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    align-items: center;
}

.h1-form {
    color: #007bff;
}

/* Estilos del formulario */

form {
    max-width: 600px;
    margin: 0 auto;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

.d-block {
    margin-bottom: 10px;
}

/* Estilos para el botón */

.btn-success {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}

.col-auto {
    text-align: center;
}